.alert
    padding: 5px 20px 10px 20px
    background-color: #f2b7bd
    color: black
    margin-bottom: 15px
    border-radius: 0.25rem
    border-left: 10px solid #dc3545
    h1
        color: #dc3545
        text-transform: capitalize
        font-variant: small-caps
        font-size: 20px
    
.note
    padding: 5px 20px 10px 20px
    background-color: #cde5ff
    color: black
    margin-bottom: 15px
    border-radius: 0.25rem
    border-left: 10px solid #007bff
    h1
        color: #007bff
        text-transform: capitalize
        font-variant: small-caps
        font-size: 20px
    
.law
    padding: 5px 20px 10px 20px
    background-color: #ddceff
    color: black
    margin-bottom: 15px
    border-radius: 0.25rem
    border-left: 10px solid #3700b3
    h1
        color: #3700b3
        text-transform: capitalize
        font-variant: small-caps
        font-size: 20px