<!doctype html>
<html lang="ms" {{ with .Site.Params.enableDarkMode }} class="dark"{{ end }}>
<head>
  {{- partial "head" . }}
</head>

  {{- $s := .Site.Params }}
  {{- $p := .Params }}

<!--untuk CODE BLOCKS-->
  {{- $maxCodeLines := default 100 $s.codeMaxLines }}
  {{- with $p.codeMaxLines }}
    {{- $maxCodeLines = . }}
  {{- end }}
  {{- $codeLineNumbers := default false $s.codeLineNumbers }}
  {{ with $p.codeLineNumbers }}
    {{- $codeLineNumbers = . }}
  {{ else }}
    {{ if eq $p.codeLineNumbers false }}
      {{- $codeLineNumbers = false }}
    {{ end }}
  {{ end }}


<body class="page-{{ .Kind }}"data-code="{{ $maxCodeLines }}" data-lines="{{ $codeLineNumbers }}" >
<!--untuk navigation header-->
  <header class="nav_header">
    {{- partial "nav" . }}
  </header>

<!--untuk content-->
  <div class="main wrap pt-4">
    {{- if eq .Section "buku" }}
    {{- partial "chapter" . }}
    {{- else }}
    {{- block "main" . }}{{ end }}
    {{- end }}
  </div>

  {{- partial "footer" . }}
  {{- partial "sprites" . }}
  {{- partial "scripts" . }}
</body>
</html>