{{/*Aku masih tengah cari cara nak mudahkan sintaks dalam {{ .Inner }}. Buat masa sekarang aku biarkan sintaksnya sama macam dalam LaTeX:
    simbol &= \text{nama pemalar} \\
    simbol2 &= \text{nama pemalar2}
*/}}

<div>
    <div>
      <span>Buat dari sini...</span>
    </div>
    <div>
        dengan maksud bahawa
        \begin{align*}
            {{- .Inner -}}
        \end{align*}
        (Cari dalam {{"`shortcodes/symbols.html`"| markdownify}})
    </div>
    <div>
        <span>...sampai sini boleh toggle expand (nak default-nya ialah tutup)</span>
    </div>
</div>